<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ba13e1c4-4409-4602-aed3-ad0dff9b509a/resourcegroups/apiconcesionario/providers/Microsoft.Web/sites/apiconcesionario20240428145129</ResourceId>
    <ResourceGroup>apiconcesionario</ResourceGroup>
    <ApiResourceId>/subscriptions/ba13e1c4-4409-4602-aed3-ad0dff9b509a/resourceGroups/apiconcesionario/providers/Microsoft.ApiManagement/service/apiconcesionarioapi/apis/apiconcesionario</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiconcesionario20240428145129.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c82c02c9-72b5-467d-b5b4-fd9410654cea</ProjectGuid>
    <MSDeployServiceURL>apiconcesionario20240428145129.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>apiconcesionario20240428145129</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$apiconcesionario20240428145129</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>